@use "../abstracts";

:root {
    --text-color: var(--text-color);

    --icon-color: var(--icon-color);

    --body-bg: var(--bg-body);
    --header-bg-color: var(--bg-head-footer);
    --footer-bg-color: var(--bg-head-footer);

    --top-act-group-bg-color: var(--bg-color);
    --top-act-group-shadow: var(--shadow-sm);
    --top-act-group-separate: var(--bg-secondary);

    @include abstracts.screen(lg) {
        --header-bg-color: var(--bg-head-footer);
        --header-shadow-color: var(--shadow-sm);
    }

    // Header
    --header-act-dropdown-bg: var(--bg-color);
    --header-act-dropdown-shadow: var(--shadow-md);
    --header-act-dropdown-border-color: var(--border-color);

    // Dropdown
    --dropdown-bg-color: var(--bg-color);
    --dropdown-shadow-color: var(--shadow-md);
    --top-menu-border-color: var(--border-color);

    // Hero
    --header-height: var(--space-88);
    --hero-bg: url("../imgs/hero/hero-bg-pc1920-748.webp");

    @include abstracts.screen(lg) {
        --header-height: var(--space-80);
        --hero-bg: url("../imgs/hero/hero-bg-taplet1200-468.webp");
    }

    @include abstracts.screen(md) {
        --header-height: var(--space-72);
        --hero-bg: url("../imgs/hero/hero-bg-mobi1080-421.webp");
    }

    @include abstracts.screen(sm) {
        --header-height: var(--space-64);
        --hero-bg: url("../imgs/hero/hero-bg-mobis720-281.webp");
    }

    // Sidebar
    --sidebar-bg: var(--bg-color);
    --sidebar-shadow: var(--shadow-md);

    // Category item
    --cate-item-bg: var(--bg-secondary);
    --cate-item-thumb-bg: var(--bg-color);
    --cate-item-title-color: var(--text-color);

    @include abstracts.screen(md) {
        --cate-item-bg: var(--bg-color);
    }

    // Buttons
    --filter-btn-color: var(--text-color);
    --filter-btn-bg: var(--primary-color);

    // Product card
    --product-card-bg: var(--bg-color);
    --product-card-shadow: var(--shadow-sm);

    // Filter form
    --filter-form-bg: var(--bg-color);
    --filter-form-shadow: var(--shadow-md);
    --form-tag-bg: var(--bg-color);

    // Auth
    --auth-content-bg: var(--bg-color);

    @include abstracts.screen(md) {
        --auth-intro-bg: var(--bg-color);
    }

    // Forms
    --form-placeholder-color: var(--text-muted);
    --form-select-dialog-shadow: var(--shadow-md);
    --form-select-dialog-bg: var(--bg-color);
    --form-option-hover-bg: var(--bg-secondary);

    // Product detail
    --product-detail-bg: var(--bg-color);
    --product-detail-info-bg: var(--bg-secondary);
    --product-detail-info-content-bg: var(--bg-color);
    --product-detail-tag-bg: var(--primary-light);

    @include abstracts.screen(md) {
        --product-detail-bg: var(--bg-color);
        --product-detail-info-bg: var(--bg-color);
    }

    // Breadcrumbs
    --breadcrumbs-bg: var(--bg-secondary);
    --breadcrumbs-shadow: var(--shadow-sm);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: var(--bg-color);
    }

    // Search bar
    --search-bar-bg: var(--bg-color);

    // Review card
    --review-card-bg: var(--bg-secondary);

    @include abstracts.screen(md) {
        --review-card-bg: var(--bg-color);
    }

    // Text content
    --text-content-hr-bg: var(--border-color);

    // Checkout
    --checkout-breadcrumbs-bg: var(--bg-color);
    --checkout-cart-info-bg: var(--bg-color);
    --checkout-cart-info-shadow: var(--shadow-sm);
    --checkout-border-color: var(--border-color);
    --checkout-gift-shadow: var(--shadow-sm);
    --checkout-payment-item-bg: var(--bg-secondary);

    // Dialog
    --dialog-bg: var(--bg-color);
    --dialog-shadow: var(--shadow-sm);

    // Profile
    --profile-sidebar-bg: var(--bg-color);
    --profile-sidebar-shadow: var(--shadow-sm);
    --profile-sidebar-link-hover: var(--bg-secondary);

    // Account info
    --account-info-bg: var(--bg-secondary);
    --account-info-icon-bg: var(--bg-color);

    // Separate
    --separate-color: var(--border-color);
}
