/*@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
        contrast(95%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Header
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #d2d1d6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // Auth
    --auth-content-bg: #fff;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Forms
    --form-placeholder-color: #d2d1d6;
    --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
    --form-select-dialog-bg: #fff;
    --form-option-hover-bg: #ebebeb;

    // Product detail
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-info-content-bg: #fff;
    --product-detail-tag-bg: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --product-detail-info-bg: #fff;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search bar
    --search-bar-bg: #fff;

    // Review card
    --review-card-bg: #fafafd;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Text content
    --text-content-hr-bg: #ebebeb;

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);
    --checkout-payment-item-bg: #f6f6f6;

    // Dialog
    --dialog-bg: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.2);

    // Profile
    --profile-sidebar-bg: #fff;
    --profile-sidebar-shadow: rgba(237, 237, 246, 0.2);
    --profile-sidebar-link-hover: #ebebeb;

    // Account info
    --account-info-bg: #f6f6f6;
    --account-info-icon-bg: #fff;

    // Separate
    --separate-color: #d2d1d6;
}*/

@use "../abstracts";

html {
    // =========================
    // TEXT
    // =========================

    --text-color: var(--text-color);
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
        contrast(95%);

    // =========================
    // BODY
    // =========================

    --body-bg: var(--bg-color);

    // =========================
    // HEADER
    // =========================

    --header-bg-color: var(--surface-color);
    --footer-bg-color: var(--header-bg-color);

    @include abstracts.screen(lg) {
        --header-bg-color: var(--surface-color);
        --header-shadow-color: var(--shadow-sm);
    }

    // =========================
    // TOP ACTION
    // =========================

    --top-act-group-bg-color: var(--surface-color);
    --top-act-group-shadow: var(--shadow-sm);
    --top-act-group-separate: var(--border-color);

    // =========================
    // HEADER DROPDOWN
    // =========================

    --header-act-dropdown-bg: var(--surface-color);
    --header-act-dropdown-shadow: var(--shadow-lg);
    --header-act-dropdown-border-color: var(--border-color);

    // =========================
    // DROPDOWN
    // =========================

    --dropdown-bg-color: var(--surface-color);
    --dropdown-shadow-color: var(--shadow-lg);
    --top-menu-border-color: var(--border-color);

    // =========================
    // SIDEBAR
    // =========================

    --sidebar-bg: var(--surface-color);
    --sidebar-shadow: var(--shadow-lg);

    // =========================
    // CATEGORY
    // =========================

    --cate-item-bg: var(--surface-secondary);
    --cate-item-thumb-bg: var(--surface-color);
    --cate-item-title-color: var(--text-color);

    @include abstracts.screen(md) {
        --cate-item-bg: var(--surface-color);
    }

    // =========================
    // BUTTON
    // =========================

    --filter-btn-color: var(--text-light);
    --filter-btn-bg: var(--surface-color);

    // =========================
    // PRODUCT CARD
    // =========================

    --product-card-bg: var(--surface-color);
    --product-card-shadow: var(--shadow-md);

    // =========================
    // FILTER FORM
    // =========================

    --filter-form-bg: var(--surface-color);
    --filter-form-shadow: var(--shadow-lg);
    --form-tag-bg: var(--surface-secondary);

    // =========================
    // AUTH
    // =========================

    --auth-content-bg: var(--surface-color);

    @include abstracts.screen(md) {
        --auth-intro-bg: var(--surface-color);
    }

    // =========================
    // FORM
    // =========================

    --form-placeholder-color: var(--text-muted);
    --form-select-dialog-shadow: var(--shadow-lg);
    --form-select-dialog-bg: var(--surface-color);
    --form-option-hover-bg: #ebebeb;

    // =========================
    // PRODUCT DETAIL
    // =========================

    --product-detail-bg: var(--surface-color);
    --product-detail-info-bg: var(--bg-color);
    --product-detail-info-content-bg: var(--surface-color);
    --product-detail-tag-bg: var(--surface-secondary);

    @include abstracts.screen(md) {
        --product-detail-bg: var(--bg-color);
        --product-detail-info-bg: var(--surface-color);
    }

    // =========================
    // BREADCRUMBS
    // =========================

    --breadcrumbs-bg: var(--bg-color);
    --breadcrumbs-shadow: var(--shadow-sm);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: var(--surface-color);
    }

    // =========================
    // SEARCH BAR
    // =========================

    --search-bar-bg: var(--surface-color);

    // =========================
    // REVIEW
    // =========================

    --review-card-bg: var(--bg-color);

    @include abstracts.screen(md) {
        --review-card-bg: var(--surface-color);
    }

    // =========================
    // TEXT CONTENT
    // =========================

    --text-content-hr-bg: #ebebeb;

    // =========================
    // CHECKOUT
    // =========================

    --checkout-breadcrumbs-bg: var(--surface-color);
    --checkout-cart-info-bg: var(--surface-color);
    --checkout-cart-info-shadow: var(--shadow-md);
    --checkout-border-color: var(--border-color);
    --checkout-gift-shadow: var(--shadow-sm);
    --checkout-payment-item-bg: var(--bg-color);

    // =========================
    // DIALOG
    // =========================

    --dialog-bg: var(--surface-color);
    --dialog-shadow: var(--shadow-lg);

    // =========================
    // PROFILE
    // =========================

    --profile-sidebar-bg: var(--surface-color);
    --profile-sidebar-shadow: var(--shadow-md);
    --profile-sidebar-link-hover: #ebebeb;

    // =========================
    // ACCOUNT INFO
    // =========================

    --account-info-bg: var(--bg-color);
    --account-info-icon-bg: var(--surface-color);

    // =========================
    // SEPARATE
    // =========================

    --separate-color: var(--border-color);
}
