@use "../abstracts";

.footer {
    padding: var(--space-50) 0;
    font-size: var(--font-size-14r);
    background: var(--footer-bg-color);

    &__row {
        display: grid;
        grid-template-columns: 2fr 1.3fr 1fr 1fr 1.5fr;
        gap: var(--space-60);

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__logo.logo {
        @include abstracts.screen(lg) {
            margin-left: 0;
        }
    }

    &__desc {
        margin-top: var(--space-30);
        line-height: var(--line-height-15);

        @include abstracts.screen(lg) {
            width: min(var(--space-400), 100%);
        }
    }

    &__help-text {
        margin-top: var(--space-40);
        line-height: var(--line-height-14);
    }

    &__heading {
        text-transform: uppercase;
        font-weight: var(--weight-900);
        font-size: var(--font-size-18r);
    }

    &__list {
        margin-top: var(--space-18);
    }

    &__link,
    &__text {
        padding: var(--space-8) 0;
        line-height: var(--line-height-14);
    }

    &__link {
        display: inline-block;

        &:hover {
            color: #0071dc;
        }
    }

    &__text,
    &__copyright {
        color: var(--footer-text-color);
    }

    &__text {
        @include abstracts.screen(lg) {
            width: min(var(--space-400), 100%);
        }
    }

    &__label {
        margin-top: var(--space-20);
        font-weight: var(--weight-500);
    }

    &__form {
        display: flex;
        gap: var(--space-10);
        padding: var(--space-16) 0;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(lg) {
            flex-direction: row;
        }
    }

    &__input {
        width: 100%;
        padding: var(--space-8) var(--space-12);
        border-radius: var(--radius-6);
        border: var(--space-2) solid #d2d1d6;
        font-size: var(--font-size-16r);
        font-weight: var(--weight-500);

        &::placeholder {
            font-weight: var(--weight-400);
        }

        @include abstracts.screen(lg) {
            width: 40%;
        }

        @include abstracts.screen(md) {
            width: 50%;
            font-size: var(--font-size-16r);
        }

        @include abstracts.screen(sm) {
            flex: 1;
        }
    }

    &__bottom {
        margin-top: var(--space-50);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(md) {
            flex-direction: column-reverse;
            gap: var(--space-50);
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: var(--space-20);
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: var(--space-32);
        height: var(--space-32);
        border-radius: var(--radius-6);

        filter: grayscale(50%);
        transition: translate, filter;
        transition-duration: var(--transition-03);

        @include abstracts.screen(sm) {
            width: var(--space-42);
            height: var(--space-42);
        }

        &--facebook {
            background: #4863a9;
        }

        &--youtube {
            background: #f00;
        }

        &--tiktok {
            background: #000;
        }

        &--twitter {
            background: #4999e6;
        }

        &--linkedin {
            background: #2f71ab;
        }

        &:hover {
            filter: grayscale(0);
            translate: 0 -3px;
        }
    }

    &__social-icon {
        width: var(--space-14);
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
            contrast(99%);

        @include abstracts.screen(sm) {
            width: var(--space-18);
        }
    }
}
