@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    @extend %flexItemsCenter;
    position: relative;
    height: var(--space-100);
    z-index: var(--z-index-200);
    background: var(--bg-head-footer);

    @include abstracts.screen(xl) {
        height: var(--space-88);
    }

    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
        height: var(--space-80);
    }

    @include abstracts.screen(md) {
        height: var(--space-72);
    }

    @include abstracts.screen(sm) {
        height: var(--space-64);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    z-index: var(--z-index-100);
    padding: var(--space-30) 0;

    @include abstracts.screen(lg) {
        padding: var(--space-20) 0;
    }

    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: var(--space-16) 0;
    }

    &__logo {
        @include abstracts.screen(lg) {
            gap: var(--space-10) !important;
            margin-left: var(--space-40);

            &-title {
                font-size: var(--font-size-18r) !important;
            }

            &-img {
                width: var(--space-72);
            }
        }

        @include abstracts.screen(md) {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            margin-left: 0;
        }
    }
}

.navbar {
    margin-left: var(--space-130);

    @include abstracts.screen(xl) {
        margin-left: var(--space-28);
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: var(--z-index-900);

        margin-left: 0;
        padding: var(--space-20) 0;
        border-radius: 0px var(--space-20) var(--space-20) 0px;
        background: var(--sidebar-bg);

        translate: -100%;
        transition: translate var(--transition-05);

        &.show {
            translate: 0;
            box-shadow: 0px var(--space-40) var(--space-90) var(--space-20) var(--sidebar-shadow);
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
    }

    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: var(--space-10) var(--space-40);
        }

        @include abstracts.screen(sm) {
            padding: 0 var(--space-20) var(--space-10);
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: var(--z-index-800);

            transition: opacity, visibility;
            transition-duration: var(--transition-05);

            background: rgba($color: #000000, $alpha: 0.4);
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - var(--space-40));
        }

        @include abstracts.screen(md) {
            height: calc(100% - var(--space-140));
        }

        @include abstracts.screen(sm) {
            height: calc(100% - var(--space-124));
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__text {
        font-size: var(--font-size-18r);
        font-weight: var(--weight-600);

        @include abstracts.screen(lg) {
            font-size: var(--font-size-20r);
        }
        // display: inline-block;

        //border-bottom: 3px solid transparent;

        //padding-bottom: 4px;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: var(--space-10);
        height: var(--space-50);
        padding: 0 var(--space-16);

        font-size: var(--font-size-15r);
        font-weight: var(--weight-500);
        line-height: var(--line-height-15);

        transition:
            color var(--transition-02),
            opacity var(--transition-02);

        &:hover {
            color: var(--text-hover-color);
        }

        &--active .navbar__text {
            border-color: var(--primary-color);
            color: var(--primary-color);
        }

        @include abstracts.screen(lg) {
            justify-content: space-between;
            padding: 0 var(--space-40);

            font-size: var(--font-size-16r);
            line-height: var(--line-height-15);
        }

        @include abstracts.screen(sm) {
            height: var(--space-44);
            padding: 0 var(--space-20);
        }
    }

    &__arrow {
        margin-top: var(--space-4);

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate var(--transition-02);
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: var(--space-20);
    margin-left: auto;

    @include abstracts.screen(md) {
        margin-left: 0;

        &__sign-up {
            height: var(--space-40) !important;
            padding: 0 var(--space-8) !important;
            font-size: var(--font-size-15r) !important;
        }
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: var(--space-50);
        height: var(--space-50);

        border-radius: var(--radius-12);
        background: var(--top-act-group-bg-color);
        box-shadow: 0px var(--space-20) var(--space-60) var(--space-10) var(--top-act-group-shadow);
    }

    &__group--single {
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: var(--space-14);
    }

    &__btn-wrap {
        position: relative;

        &:hover .act-dropdown {
            display: block;
        }
    }

    &__btn {
        @extend %flexItemsCenter;
        gap: var(--space-10);
        padding: var(--space-14) var(--space-20);
        cursor: pointer;
    }

    &__title {
        font-size: var(--font-size-15r);
        font-weight: var(--weight-500);
        line-height: var(--line-height-15);
    }

    &__separate {
        width: var(--space-1);
        height: var(--space-30);
        background: var(--top-act-group-separate);
    }

    &__user {
        position: relative;

        &:hover .act-dropdown {
            display: block;
        }
    }

    &__avatar {
        display: block;
        width: var(--space-50);
        height: var(--space-50);
        border-radius: var(--radius-12);
        cursor: pointer;
    }

    &__dropdown {
        right: -15px !important;
        width: min(300px, 100vw) !important;
    }

    &__dropdown-arrow {
        right: 15px !important;
    }
}

.nav-btn {
    height: var(--space-50);
    align-items: center;
    padding: 0 var(--space-40);

    @include abstracts.screen(sm) {
        height: var(--space-44);
        padding: 0 var(--space-20);
    }

    &__title {
        margin-left: var(--space-16);
        font-size: var(--font-size-15r);
        font-weight: var(--weight-500);
        line-height: var(--line-height-15);
    }

    &__qnt {
        @extend .nav-btn__title;
        margin-left: auto;
    }
}

.act-dropdown {
    position: absolute;
    top: var(--space-48);
    right: calc(-1 * var(--space-60));
    width: min(var(--space-500), 100vw);
    padding-top: var(--space-28);
    display: none;

    &__inner {
        position: relative;
        padding: var(--space-30);
        border-radius: var(--space-20);
        background: var(--header-act-dropdown-bg);
        box-shadow: 0px var(--space-40) var(--space-90) var(--space-20) var(--header-act-dropdown-shadow);
    }

    &__arrow {
        position: absolute;
        top: calc(-1 * var(--space-18));
        right: var(--space-90);
        height: var(--space-20);
        filter: var(--dropdown-arrow-color);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--space-20);
    }

    &__title {
        font-size: var(--space-22);
        font-weight: var(--weight-500);
        line-height: var(--line-height-15);
    }

    &__view-all {
        color: #0071dc;
        font-size: var(--font-size-15r);
        line-height: var(--line-height-15);
    }

    &__bottom {
        margin: var(--space-20) 0;
        padding: var(--space-20) 0;
        border-width: var(--space-1) 0;
        border-color: var(--header-act-dropdown-border-color);
        border-style: solid;
    }

    &__separate {
        margin: var(--space-20) 0;
        height: var(--space-1);
        background: var(--header-act-dropdown-border-color);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--bold {
            font-weight: var(--weight-500);
        }
    }

    &__list {
        padding-bottom: var(--space-10);
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    &__row + &__row {
        margin-top: var(--space-10);
    }

    &__label,
    &__value {
        font-size: var(--font-size-18r);
        line-height: var(--line-height-15);
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;

        &-btn {
            min-width: var(--space-278);
        }
    }
}

.cart-preview-item {
    text-align: left;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1px solid var(--header-act-dropdown-border-color);
        border-radius: var(--space-10);
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin-top: var(--space-14);
        font-size: var(--font-size-14r);
        line-height: var(--line-height-14);
    }

    &__price {
        margin-top: var(--space-6);
        font-size: var(--font-size-15r);
        font-weight: var(--weight-500);
        line-height: var(--line-height-15);
    }
}

.user-menu {
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        object-fit: cover;
    }

    &__name {
        margin-bottom: 8px;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__list {
        margin-top: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 14px 0;
    }

    &__separate {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--separate-color);
    }
}
