@use "../abstracts";

// filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: var(--space-10);

    height: var(--space-32);
    padding: 0 var(--space-12);
    border-radius: var(--radius-sm);

    color: var(--filter-btn-color);
    background: var(--filter-btn-bg);

    font-size: var(--text-sm);
    font-weight: var(--weight-bold);
    line-height: var(--line-height-15);
}

// Like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--space-32);
    height: var(--space-32);
    border-radius: var(--radius-pill);

    box-shadow: var(--shadow-sm);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: var(--space-6);
    }
}

// Buttons
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-10);

    min-height: var(--space-44);
    padding: 0 var(--space-26);
    border-radius: var(--radius-pill);

    background: var(--primary-color);

    font-size: var(--font-size-16r);
    font-weight: var(--weight-500);
    white-space: nowrap;
    user-select: none;

    &--small {
        min-height: var(--space-40);
    }

    + .btn {
        &:not(.btn--no-margin) {
            margin-left: var(--space-20);
        }
    }

    &--text {
        background: transparent;
    }

    &--primary {
        color: var(--text-color);
        background: var(--primary-color);
    }

    &--outline {
        background: transparent;
        color: var(--primary-color);
        border: var(--space-2) solid var(--primary-color);
    }

    &--rounded {
        border-radius: var(--radius-pill);
    }

    &--danger {
        color: var(--text-color);
        background: var(--danger-color);
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
        background: var(--primary-hover);
    }
}
