@use "../abstracts";

.featured-products {
    background: var(--bg-body);

    &__header {
        display: flex;

        justify-content: space-between;

        align-items: flex-end;

        gap: var(--space-20);

        margin: var(--space-50) var(--space-20);

        @include abstracts.screen(md) {
            flex-wrap: wrap;
        }
    }

    &__content {
        flex: 1;
    }

    &__label {
        text-transform: uppercase;

        margin: var(--space-20) 0;

        color: var(--text-light);
    }

    &__heading {
        max-width: var(--space-480);

        text-transform: uppercase;

        color: var(--text-color);
    }

    // =====================================================
    // CTA
    // =====================================================

    &__cta {
        display: inline-flex;

        align-items: center;

        gap: var(--space-10);

        margin-left: auto;

        white-space: nowrap;

        color: var(--primary-color);

        transition: color var(--transition-02);

        @include abstracts.screen(lg) {
            width: 100%;

            justify-content: flex-end;

            margin-top: var(--space-12);
        }

        &:hover {
            color: var(--primary-hover);

            .featured-products__cta-icon {
                transform: translateX(var(--space-4));
            }
        }
    }

    &__cta-icon {
        width: var(--space-22);
        height: var(--space-22);

        transition: transform var(--transition-02);
    }

    // =====================================================
    // PRODUCT LIST
    // =====================================================

    //&__list {
    // margin: var(--space-50) 0;
    //}

    // =====================================================
    // CARD
    // =====================================================

    &__card {
        --product-color: var(--bg-white);

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        padding: var(--space-20) var(--space-14);
        overflow: hidden;

        border: var(--space-2) solid var(--bg-shadow);
        border-radius: var(--radius-12);
        box-shadow: var(--shadow-md);

        background: var(--bg-color);

        transition:
            transform var(--transition-02),
            box-shadow var(--transition-02);
    }

    &__img-wrap {
        position: relative;

        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;

        border-radius: var(--space-8);
        background: var(--bg-white);

        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

        &:hover {
            transform: translateY(-4px);

            box-shadow: 0 var(--space-12) var(--space-30) rgba(0, 0, 0, 0.12);
        }
    }

    &__thumb {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__card:hover &__thumb {
        transform: scale(1.05);
    }

    &__like-btn {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__body {
        display: flex;
        flex: 1;
        flex-direction: column;

        margin-top: var(--space-8);

        background: var(--bg-white);
        border: var(--space-14) solid var(--product-color);

        border-radius: var(--space-8);
    }

    &__title {
        padding: var(--space-10) 0;
        text-align: center;
        color: var(--text-color);
    }

    &__brand {
        display: -webkit-box;

        min-height: var(--space-66);
        margin: var(--space-10) var(--space-10) 0;
        color: var(--text-light);

        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    &__row {
        display: flex;
        align-items: center;
        margin-left: var(--space-10);
        padding-top: var(--space-10);
    }

    // =====================================================
    // REDIRECT
    // =====================================================

    &__redirect {
        display: inline-flex;
        align-items: center;
        gap: var(--space-8);

        color: var(--primary-color);

        transition: color var(--transition-02);

        &:hover {
            color: var(--primary-hover);

            .featured-products__redirect-icon {
                transform: translateX(var(--space-4));
            }
        }
    }

    &__redirect-icon {
        width: var(--space-16);
        height: var(--space-16);

        transition: transform var(--transition-02);
    }
}
