@use "../abstracts";

.featured-products {
    background: var(--bg-color);

    &__header {
        display: flex;

        justify-content: space-between;

        align-items: flex-end;

        gap: var(--space-20);

        margin: var(--space-50) var(--space-20);

        @include abstracts.screen(md) {
            flex-wrap: wrap;
        }
    }

    &__content {
        flex: 1;
    }

    &__label {
        text-transform: uppercase;

        margin: var(--space-20) 0;

        color: var(--text-light);
    }

    &__heading {
        max-width: var(--space-480);

        text-transform: uppercase;

        color: var(--text-color);
    }

    // =====================================================
    // CTA
    // =====================================================

    &__cta {
        display: inline-flex;

        align-items: center;

        gap: var(--space-10);

        margin-left: auto;

        white-space: nowrap;

        color: var(--primary-color);

        transition: color var(--transition-02);

        @include abstracts.screen(lg) {
            width: 100%;

            justify-content: flex-end;

            margin-top: var(--space-12);
        }

        &:hover {
            color: var(--primary-hover);

            .featured-products__cta-icon {
                transform: translateX(var(--space-4));
            }
        }
    }

    &__cta-icon {
        width: var(--space-22);
        height: var(--space-22);

        transition: transform var(--transition-02);
    }

    // =====================================================
    // PRODUCT LIST
    // =====================================================

    //&__list {
    // margin: var(--space-50) 0;
    //}

    // =====================================================
    // CARD
    // =====================================================

    &__card {
        --product-color: #ffffff;

        display: flex;
        flex-direction: column;

        height: 100%;
        padding: 16px;
        border-radius: 12px;

        background: var(--product-color);
        box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
    }

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;

        background: var(--bg-body);
    }

    &__like-btn {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__body {
        background: var(--bg-color);
    }

    &__title {
        display: flex;
        flex: 1;
        flex-direction: column;
        text-align: center;
    }

    &__title,
    &__price,
    &__score {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        margin: var(--space-16) var(--space-10);
    }

    &__brand {
        min-height: var(--space-70);
        margin: var(--space-16) var(--space-10) 0;
        color: #9e9da8;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__row {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    // =====================================================
    // REDIRECT
    // =====================================================

    &__redirect {
        display: inline-flex;
        align-items: center;
        gap: var(--space-8);

        margin-bottom: var(--space-4);

        color: var(--primary-color);

        transition: color var(--transition-02);

        &:hover {
            color: var(--primary-hover);

            .featured-products__redirect-icon {
                transform: translateX(var(--space-4));
            }
        }
    }

    &__redirect-icon {
        width: var(--space-16);
        height: var(--space-16);

        transition: transform var(--transition-02);
    }
}
