@use "../abstracts";

.logo {
    display: inline-flex;
    align-items: center;

    &__title {
        font-size: var(--font-size-22r);
        font-weight: var(--weight-700);
        line-height: var(--line-height-12-5);
        letter-spacing: var(--letter-spacing0);

        &:hover {
            color: var(--primary-color);
        }
    }

    &__title span {
        display: block;
        text-align: center;
    }
}

.sr-only {
    position: absolute;
    width: var(--space-1);
    height: var(--space-1);
    padding: 0;
    margin: calc(var(--space-1) * -1);
    overflow: hidden;
    white-space: nowrap;
    border: 0;

    clip-path: inset(50%);
}
