.text-content {
    font-size: var(--text-base);
    line-height: var(--leading-relaxed);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--weight-bold);
    }

    h1 {
        font-size: var(--text-2xl);
    }

    h2 {
        font-size: var(--text-xl);
    }

    h3 {
        font-size: var(--text-lg);
    }

    h4 {
        font-size: var(--text-base);
    }

    h5 {
        font-size: var(--text-lg);
    }

    h6 {
        font-size: var(--text-base);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    img,
    figure,
    ul,
    ol,
    table {
        margin: 20px 0;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    img + em {
        display: block;
        font-style: italic;
        text-align: center;
    }

    a {
        color: var(--text-link-color);
        text-decoration: underline;
    }

    blockquote {
        background: rgba($color: var(--text-link-bg), $alpha: 0.1);
        padding: 20px;

        border-left: 3px solid var(--text-link-bg);

        p {
            margin: 0;
        }
    }

    hr {
        border: none;
        height: 1px;
        margin: 40px 0;

        background: var(--text-link-bg);
    }
}
