@keyframes shake {
    0%,
    100% {
        translate: 0;
    }
    25%,
    75% {
        translate: 4px;
    }
    50% {
        translate: -4px;
    }
}

@keyframes hero-bg {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

/*----------------------------------------------------------
    Fade Up
----------------------------------------------------------*/

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*----------------------------------------------------------
    Glass Intro
----------------------------------------------------------*/

@keyframes glass-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*----------------------------------------------------------
    Floating
----------------------------------------------------------*/

@keyframes glass-float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}
