<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- logo -->
            <a href="./" class="logo">
                <img
                    src="./assets/icons/logoshinrin.svg"
                    alt="ShinRin | Thức uống dinh dưỡng và tốt cho sức khỏe"
                    class="logo__img top-bar__logo-img"
                />

                <!-- cho screen reader -->
                <span class="sr-only"> Thức uống dinh dưỡng và tốt cho sức khỏe </span>

                <!-- hiển thị -->
                <h1 class="logo__title" aria-hidden="true">
                    <span>ShinRin</span>
                    <span>wellness</span>
                </h1>
            </a>
            <p class="footer__desc">
                A nutritious, all-natural drink that's good for your health and suitable for everyone, every day.
            </p>

            <p class="footer__help-text">Receive product news and updates.</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__input" placeholder="Email address" />
                <button class="btn btn--primary">SEND</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">MENU</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">All Products</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Green Bean & Mix</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Red Bean & Mix</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Soy Bean & Mix</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Black Bean & Mix</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Almond & Mix</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">NEWS</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Wellness Journal</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Nutrition</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Recipes</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Discover</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Events</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">CENTER</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Customer Care</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Terms of Use</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">FAQs</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Shipping & Payment</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Returns & Refunds</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Contact</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a href="mailto:contact@grocerymart.com" class="footer__link"> shinrinwellness@gmail.com </a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:18008888" class="footer__link">18008888</a>
                </li>
                <li>
                    <p class="footer__label">Address</p>
                    <p class="footer__text">34/7A đường số 23, phường Hiệp Bình, Thành phố Hồ Chí Minh</p>
                </li>
                <li>
                    <p class="footer__label">Hours</p>
                    <p class="footer__text">M - F 06:00am - 09:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2026 ShinRin Wellness. All rights reserved.</p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
