<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
            <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon" />
        </button>

        <!-- logo -->
        <a href="./" class="logo top-bar__logo">
            <img
                src="./assets/icons/logoshinrin.svg"
                alt="ShinRin | Thức uống dinh dưỡng và tốt cho sức khỏe"
                class="logo__img top-bar__logo-img"
            />

            <!-- cho screen reader -->
            <span class="sr-only"> Thức uống dinh dưỡng và tốt cho sức khỏe </span>

            <!-- hiển thị -->
            <h1 class="logo__title top-bar__logo-title" aria-hidden="true">
                <span>ShinRin</span>
                <span>wellness</span>
            </h1>
        </a>

        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                <img class="icon" src="./assets/icons/arrow-left.svg" alt="" />
            </button>

            <a href="./checkout.html" class="nav-btn d-none d-md-flex">
                <img src="./assets/icons/buy.svg" alt="" class="nav-btn__icon icon" />
                <span class="nav-btn__title">Cart</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <a href="#!" class="nav-btn d-none d-md-flex">
                <img src="./assets/icons/heart.svg" alt="" class="nav-btn__icon icon" />
                <span class="nav-btn__title">Favorite</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link navbar__link--active">
                        <span class="navbar__text"> Home </span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        <span class="navbar__text"> Menu </span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        <span class="navbar__text"> News </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__group d-md-none">
                <div class="top-act__group d-md-none top-act__group--single">
                    <button class="top-act__btn">
                        <img src="./assets/icons/search.svg" alt="" class="icon top-act__icon" />
                    </button>
                </div>

                <div class="top-act__separate"></div>

                <div class="top-act__btn-wrap">
                    <button class="top-act__btn">
                        <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon" />
                        <span class="top-act__title">$65.42</span>
                    </button>
                </div>
            </div>
            <a href="./signin.html" class="top-act__sign-up btn btn--primary d-md-none">Sign In</a>
        </div>

        <!-- LANGUAGE -->

        <div class="language" id="language">
            <!-- Current Language -->

            <button class="language__current" type="button" aria-label="Change language" aria-expanded="false">
                <img class="language__flag" src="./assets/icons/language/flag-en.jpg" alt="English" />
            </button>

            <!-- Dropdown -->

            <ul class="language__menu">
                <li class="language__item">
                    <button class="language__option" type="button" data-lang="en">
                        <img class="language__flag" src="./assets/icons/language/flag-en.jpg" alt="English" />

                        <span class="language__text"> English </span>
                    </button>
                </li>

                <li class="language__item">
                    <button class="language__option" type="button" data-lang="vi">
                        <img class="language__flag" src="./assets/icons/language/flag-vn.jpg" alt="Tiếng Việt" />

                        <span class="language__text"> Tiếng Việt </span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
