// =========================
// BRAND
// =========================
/*
:root {
    --primary-color: #5f9f7f;
    --primary-hover: #4d8668;
    --primary-dark: #355e4a;
    --primary-light: #a9d1bb;

    // =========================
    // TEXT
    // =========================

    --text-color: #1a162e;
    --text-light: #6c6c72;
    --text-muted: #9b9ba5;

    // =========================
    // BACKGROUND
    // =========================

    --bg-color: #f5f3ed;
    --surface-color: #f8f8f8;
    --surface-secondary: #f2f5f3;

    // =========================
    // BORDER
    // =========================

    --border-color: #e9e5dc;

    // =========================
    // STATE
    // =========================

    --success-color: #3ba55c;
    --warning-color: #d9a441;
    --danger-color: #d95c5c;
}
*/
