:root {
    // BRAND
    // Màu nhận diện thương hiệu ShinRin
    // Dùng cho Button, Link, CTA, Active, Highlight...
    // =========================// =========================// =========================
    --primary-color: #779104; // Màu thương hiệu chính (Button, Link, Active)
    --primary-hover: #87b434; // Hover cho Button và Link
    --primary-dark: #365544; // Heading nổi bật, Footer, nền tối
    --primary-light: #e8f1eb; // Background nhẹ, Badge, Tag, Hover nhẹ

    // TEXT
    --text-color: #25311c; // Nội dung chính, Heading
    --text-light: #59625c; // Nội dung phụ, Description
    --text-muted: #8b928d; // Placeholder, Disabled, Caption

    --text-cta-color: #113ef0; // Link, CTA, Button
    --text-hover-color: #7cbffa; // Hover Link, CTA, Button

    // BACKGROUND
    --bg-body: #f7f7f1; // Màu nền toàn website (Body)
    --bg-color: #fbfaf6; // Nền Card, Form, Product Card
    --bg-secondary: #bef0e7; // Nền Section xen kẽ, Hover, Box phụ
    --bg-head-footer: #e8faf7; // Nền thứ cấp

    // BORDER
    --border-color: #62f754; // Viền Card, Input, Divider

    // STATE
    --success-color: #4f8f61; // Thành công, Đặt hàng thành công
    --warning-color: #d2a548; // Cảnh báo, Sắp hết hàng
    --danger-color: #cf5a5a; // Lỗi, Xóa sản phẩm, Validation
}
